<mat-drawer-container>
  <mat-drawer #drawer class="menu-button-container" mode="side" hidden>
    <div style="text-align:center; margin-top:30px; font-size:medium; font-weight: bold;">MENU</div>
    <mat-nav-list>
      <a mat-list-item routerLink="home">	<mat-icon>dashboard</mat-icon> Dashboard</a>
      <a mat-list-item routerLink="."> <mat-icon>notification_important</mat-icon> Notifications</a>
      <a mat-list-item routerLink="users"> <mat-icon>supervised_user_circle</mat-icon> Users</a>
      <a mat-list-item routerLink="mailing"> <mat-icon> email</mat-icon> Mailing</a>
      <a mat-list-item routerLink="."> <mat-icon>security</mat-icon> Security</a>
      <a mat-list-item routerLink="."> <mat-icon>description</mat-icon> Resources</a>
      <a mat-list-item routerLink="."> <mat-icon>settings</mat-icon> Settings</a>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button *ngIf="isLogged" mat-icon-button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <button *ngIf="!isLogged" mat-icon-button type="button" mat-button disabled>
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="home"><img src="/assets/icon/coding32.png" alt="logo"></a>
      WebLearning Platform
      <div class="flex-stretch"></div>
      <button mat-icon-button [matMenuTriggerFor]="languageMenu"><img [src]="getLanguageIcon()"></button>
      <mat-menu #languageMenu="matMenu">
        <button mat-menu-item [disabled]="isSelectedLanguage('english')" (click)="changeLanguage('english')">
          <img src="/assets/flags/united-kingdom.png">
          <span> English</span>
        </button>
        <button mat-menu-item [disabled]="isSelectedLanguage('polish')" (click)="changeLanguage('polish')">
          <img src="/assets/flags/poland.png">
          <span> Polski</span>
        </button>
        <button mat-menu-item [disabled]="isSelectedLanguage('german')" (click)="changeLanguage('german')">
          <img src="/assets/flags/germany.png">
          <span> Deutsh</span>
        </button>
        <button mat-menu-item [disabled]="isSelectedLanguage('spanish')" (click)="changeLanguage('spanish')">
          <img src="/assets/flags/spain.png">
          <span> Español</span>
        </button>
      </mat-menu>
      <mat-icon title="Light mode" class="mr-8">brightness_5</mat-icon>
      <mat-slide-toggle [formControl]="toggleControl" class="mr-8">
      </mat-slide-toggle>
      <mat-icon title="Dark mode">bedtime</mat-icon>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a *ngIf="!isLogged" routerLink="login" mat-menu-item>Log in</a>
        <a *ngIf="isLogged" mat-menu-item (click)="logout()">Log out</a>
      </mat-menu>
    </mat-toolbar>
    <div class="content">
      <div class="spinner-wrapper" *ngIf="loggedOutSuccessfully">
        <mat-spinner 
        color="primary"
        mode="indeterminate"
        diameter="70"></mat-spinner>
      </div>
      <router-outlet></router-outlet>
      <footer>
        <div style="text-align:center; bottom: 0;
    left: 0; font-size:small;align-self: flex-end;clear:both" color="primary" *ngIf="tokenExpirationDate">Session will expire at {{tokenExpirationDate | date:'HH:mm'}}</div>
      </footer>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
