<div mat-dialog-title 
class="dialog-title"
cdkDrag
cdkDragRootElement=".cdk-overlay-pane"
cdkDragBoundary=".cdk-overlay-container" 
cdkDragHandle>
    <h1>Compose message</h1>
    <button class="close" mat-button mat-dialog-close>X</button>
</div>
<form [formGroup]="form">
<div mat-dialog-content class="dialog-content-class">
    <div class="modal-body">
            <div class="example-container">
                <mat-form-field appearance="fill">
                    <mat-label>To</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="to" required>
                  </mat-form-field>
            </div>
            <div class="example-container">
                <mat-form-field appearance="fill">
                    <mat-label>Subject</mat-label>
                    <input matInput placeholder="Ex. change password" formControlName="subject" required>
                  </mat-form-field>
            </div>
            <div style="text-align: right;">
                <mat-slide-toggle
                [checked]="containsHTMLMarkdows"
                (change)="onContainsHTMLMarkdowsChange($event)">Contains HTML markdowns</mat-slide-toggle>
            </div>
            <div class="example-container">
                <mat-form-field appearance="fill">
                    <mat-label>Type message</mat-label>
                    <textarea #message maxlength="4096" matInput formControlName="text" required></textarea>
                    <mat-hint align="end">{{message?.value?.length || 0}}/4096</mat-hint>
                  </mat-form-field>
            </div>
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Dissmiss</button>
    <button mat-icon-button type="submit" (click)="send()"><mat-icon>send</mat-icon></button>
</div>
</form>