<div mat-dialog-title 
class="dialog-title"
cdkDrag
cdkDragRootElement=".cdk-overlay-pane" 
cdkDragHandle>
    <h1>Avalible log files for {{moduleName}}</h1>
    <button class="close" mat-button mat-dialog-close>X</button>
</div>
<div mat-dialog-content class="dialog-content-class">
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title style="font-weight: bold;">
            Log files  <span *ngIf="selectedItem" style="margin-left: 5px;"><i>(selected file: '{{selectedItem}}'')</i></span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="fileList">
            <span *ngFor="let item of fileNames">
                <i><b><a (click)="openLog(item)" *ngIf="selectedItem===item">{{item}}</a></b></i>
                <i><a (click)="openLog(item)" *ngIf="selectedItem!=item">{{item}}</a></i>
                <br/>
            </span>
          </div>
    </mat-expansion-panel>
  <div class="content">
    <p *ngIf="content.length===0">
        Here will be presented the content of log file
    </p> 
    <textarea *ngIf="content.length>0" class="log-content" rows="50" cols="200">{{content}}</textarea>
  </div>
</div>
<div class="spacer"></div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
</div>